<!doctype html>
<html>
    <head>
        <title>Documentação API</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <script
            id="api-reference"
            data-url="/api/schema/"
            data-configuration='{
        "theme": "deepSpace",
        "hideModels": true,
        "layout": "modern",
        "defaultOpenAllTags": true,
        "expandAllResponses": true,
        "hideClientButton": true,
        "hideDarkModeToggle": true,
        "showSidebar": true,
        "showDeveloperTools": "localhost",
        "showToolbar": "localhost",
        "operationTitleSource": "summary",
        "persistAuth": false,
        "telemetry": true,
        "isEditable": false,
        "isLoading": false,
        "documentDownloadType": "both",
        "hideTestRequestButton": false,
        "hideSearch": false,
        "showOperationId": false,
        "withDefaultFonts": true,
        "expandAllModelSections": false,
        "orderSchemaPropertiesBy": "alpha",
        "orderRequiredPropertiesFirst": true,
        "title": "API #1"
      }'
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/@scalar/api-reference"></script>
    </body>
</html>
